<div class="product-wrap">
  {% if product_product.featured_image %}
    <img src="{{ product_product.featured_image | img_url: medium }}" alt="{{ product_product.title }}">
  {% else %}
    {{ 'product-1' | placeholder_svg_tag }}
  {% endif %}
  <span>{{ product_product.vendor }}</span>
  <a href="{{ product_product.url }}">{{ product_product.title }}</a>
  <p>{{ product_product.price | money }}</p>
</div>
