<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

{% assign selected_variant = product.selected_or_first_available_variant %}

<div id="product">
  <div>
    <div>
      {% for media in product.media %}
        {% render 'product-media', media: media %}
      {% endfor %}
    </div>

    <div class="swiper">
      <div class="swiper-wrapper">
        {% for media in product.media %}
          <div class="swiper-slide">
            {% render 'product-media', media: media %}
          </div>
        {% endfor %}
      </div>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>

  <div class="product-information">
    {% form 'product', product %}
      <input type="hidden" name="id" value="{{selected_variant.id}}">
      <p>{{ product.vendor }}</p>
      <h1>{{ product.title }}</h1>
      <p>{{ selected_variant.compare_at_price | money }}</p>
      <p>{{ selected_variant.price | money }}</p>
      {% if selected_variant.price < selected_variant.compare_at_price %}
        <span>Sale</span>
      {% endif %}
      {% unless product.has_only_default_variant %}
        <div data-url="{{product.url}}" data-section="{{section.id}}">
          {% for option in product.options_with_values %}
            <label for="Option-{{section.id}}-{{forloop.index0}}">{{ option.name }}</label>
            <div>
              <select name="options[{{option.name | escape}}]" id="Option-{{section.id}}-{{forloop.index0}}">
                {% for value in option.values %}
                  <option
                    value="{{value | escape}}"
                    {% if option.selected_value == value %}
                      selected="selected"
                    {% endif %}
                  >
                    {{ value }}
                  </option>
                {% endfor %}
              </select>
            </div>
          {% endfor %}
        </div>
      {% endunless %}

      <div>
        <label for="quantity-{{section.id}}">Quantity</label>
        <input type="number" name="quantity" id="quantity-{{selected.id}}" value="1" min="1">
      </div>

      <p>{{ product.description }}</p>

      <button
        type="submit"
        name="add"
        {% if selected_variant.available == false %}
          disabled
        {% endif %}
      >
        {% if selected_variant.available == false %}
          Sold out
        {% else %}
          Add to Cart
        {% endif %}
      </button>
    {% endform %}
  </div>
</div>

<script>
  const swiper = new Swiper('.swiper', {
    direction: 'horizontal',

    pagination: {
      el: '.swiper-pagination',
    },

    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>

{% schema %}
{
  "name": "Product",
  "blocks": [
    {
      "type": "vendor",
      "name": "Vendor",
      "limit": 1
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    },
    {
      "type": "variant_selector",
      "name": "Variant Selector",
      "limit": 1
    },
    {
      "type": "quantity",
      "name": "Quantity",
      "limit": 1
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "checkout_buttons",
      "name": "Checkout Buttons",
      "limit": 1
    }
  ]
}
{% endschema %}
